# HW07 Task 1 - Pandas<br></center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [65]:
import numpy as np
import pandas as pd
import timeit

In [66]:
data = pd.read_csv('adult.data.csv')
#data.head()

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
# method whith .size more faster
#sex_count = [print(sex,': ',data['sex'][data['sex'] == sex].value_counts(dropna=False)[0]) for sex in ["Male","Female"]]
sex_list = ["Male","Female"]
sex_count = [print(sex,': ',data['sex'][data['sex'] == sex].size) for sex in sex_list]

Male :  21790
Female :  10771

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
averege_age = data[['sex','age']][['age']].mean()[0]
print(f'Averge female age = {averege_age:.5}')

Averge female age = 38.582

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
german_count = data['native-country'][data['native-country'] == 'Germany'].size
data_count = data['native-country'].size
print(f'German people: {(german_count/data_count)*100:.3} %')

German people: 0.421 %

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [6]:
salary = ["<=50K",">50K"]
mean_salary = [round(data[['age','salary']][data['salary'] == mean_sal]['age'].mean(),3) for mean_sal in salary]
std_salary = [round(data[['age','salary']][data['salary'] == std_sal]['age'].std(),3) for std_sal in salary]

# printing results
[print('Salary: ', salary,' maen:', mean_salary[index],' std:', std_salary[index]) for index, salary in enumerate(salary)];

Salary:  <=50K  maen: 36.784  std: 14.02
Salary:  >50K  maen: 44.25  std: 10.519

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [56]:
'''
hs_grad: target atributes
data_grad: switch 2-columns by atributes
hs_grad_status: check for target atributes in columns
'''
hs_grad_masters = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters']
hs_grad_doctorate = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Doctorate']
data_grad = data[['education','salary']][data['salary'] == '>50K']['education'].values
hs_grad_status = [(element in (hs_grad_masters or hs_grad_doctorate)) for element in data_grad]

print('Answer for question is: ', all(hs_grad_status))

Answer for question is:  False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [10]:
# Grouping by race and age
data_sex_age = [data[data['sex'] == sex].groupby(['race'])['age'].describe().loc['Amer-Indian-Eskimo'] for sex in sex_list]

# Statistic by sex
[print('\n sex:', sex_list[index],'\n', data_sex_age[index]) for index in range(2)];

# Max age by sex
[print('\n sex:', sex_list[index],'  Max age:', data_sex_age[index][-1]) for index in range(2)];

 sex: Male
 count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: Amer-Indian-Eskimo, dtype: float64

 sex: Female
 count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: Amer-Indian-Eskimo, dtype: float64

 sex: Male   Max age: 82.0

 sex: Female   Max age: 80.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
data_merried = data[['marital-status','salary']][(data['marital-status']\
    .apply(lambda marital: marital[0:7] == 'Married')) & (data['salary'] == '>50K')].size

data_not_merried = data[['marital-status','salary']][(data['marital-status']\
    .apply(lambda marital: marital[0:7] != 'Married')) & (data['salary'] == '>50K')].size

print(f'merried: {data_merried}  not merried: {data_not_merried}')

merried: 13472  not merried: 2210

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:
'''
max_work_time: max hour for a week
human_max_work_time: quantity of humans for max hour for a week
'''
max_work_time = data[['hours-per-week']].max().loc['hours-per-week']
human_max_work_time = data[['hours-per-week','salary']][(data['salary'] == '>50K') & (data['hours-per-week'] == max_work_time)]

print(f'Max work hours: {max_work_time} for {human_max_work_time.size} humans')

Max work hours: 99 for 50 humans

In [ ]:
def multifun(column, mult_coef, div_coef):
   '''
   function for transformation of element: division by coefficient div_coef or multiplication by a coefficient mult_coef.

   '''

    value_mean = column.mean()
    return np.where(column < value_mean, column*mult_coef, column/div_coef)


multifun(array_fun[:,3], 2, 4)

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [13]:
print(data.pivot_table(columns=['salary'], index=['native-country'], values='hours-per-week', aggfunc='mean'))

# #alternative code 1
# salary = ["<=50K",">50K"]
# avarge_work_time_country = [data[['native-country','hours-per-week']][data['salary'] == salary_value]\
#     .pivot_table(['hours-per-week'], ['native-country'],aggfunc='mean') for salary_value in salary]
# # printing results
# [print('\n', time_value) for time_value in avarge_work_time_country];

# #alternative code 2
# print('Average hours per week for people this small salary <=50K')
# print(data[(data['salary']=='<=50K')].groupby(['native-country'])[ 'hours-per-week'].mean())
# print()
# print('Average hours per week for people this high salary >50K')
# print(data[(data['salary']=='>50K')].groupby(['native-country'])[ 'hours-per-week'].mean())

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

In [12]:
# Convert to PY
# get_ipython().system('jupyter nbconvert --to script topic2_habr_pandas.ipynb')

In [13]:
# Time estimate

# start_time = timeit.default_timer()
# # code
# elapsed = timeit.default_timer() - start_time
# print(elapsed)